/*body
    background-color: #2F52E0;
    padding-top: 30px;
}*/

body {
    background-color: #1789FC;
    padding-top: 30px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.btn {
    background-color: #FFE66D;
    color: #000;
}

.btn:hover {
    background-color: #FFE66D;
}

.btn:visited {
    background-color: #FFE66D;
}

.card .card-action {
    padding: 10px;
}

.card .card-content {
    padding: 10px;
}

.divider {
    background-color: #ffffff;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 40px;
}

.icon:link, .icon:visited, .icon:hover, .icon:active {
    color: #FFE66D;
}

.tabs {
    background: transparent;
    border: 1px solid #FFE66D;
}

.tabs .indicator {
    height: 3px;
    background-color: #FFE66D;
}

.tabs .tab a {
    font-size: 18px;
}

.tabs .tab a:hover, .tabs .tab a {
    color: #FFE66D !important;
}

#about {
    font-size: 20px;
    color: #ffffff;
}

#bboyLink:hover {
    color: #FFE66D !important;
}

#bboyLink:link, #bboyLink:visited, #bboyLink:active {
    color: #ffffff;
}
