body {
    background-color: #2F52E0;
    padding-top: 30px;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.tabs {
    background: transparent;
    border: 1px solid #ee6e73;
}

.tabs .indicator {
    height: 3px;
    background-color: #ee6e73;
}

.card .card-action {
    text-align: center;
    padding: 10px;
}

.btn {
    background-color: #ee6e73;
}

.btn:hover {
    background-color: #ee6e73;
}

.btn:visited {
    background-color: #ee6e73;
}

#profile>img {
    margin-bottom: 30px;
}

.icon {
    font-size: 40px;
}

#bboyLink:hover {
    color: #ee6e73;
}

#about {
    font-size: 20px;
    color: #ffffff;
}

#name {
    display: inline;
}

#aboutBtn {
    background: #ee6e73;
}

#projectBtn {
    background: #ee6e73;
}
